spring:
  datasource:
    url: jdbc:postgresql://db.hjhtkloihczletmeywpt.supabase.co:5432/postgres?sslmode=require
    username: postgres
    password: ${DB_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        jdbc:
          timezone: UTC
  flyway:
    enabled: true
    locations: classpath:db/migration
  mail:
    host: ${MAIL_HOST:localhost}
    port: ${MAIL_PORT:1025}
server:
  port: ${SERVER_PORT:8080}
management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
app:
  env: dev
  jwt:
    secret: "MiClaveSecretaSuperLargaYComplejaParaElCursoDeDesarrolloDeSoftware"
    expiration-ms: 3600000
